.main-title{
    text-align: center;
    text-transform: uppercase;
    color: brown;
    text-shadow: -3px -3px 5px skyblue;
    font-size: 86px;
    font-style: italic;

}

.main-title:hover{
    color: deeppink;
    cursor: pointer;
    
}


.cards-article {
    border: 2px solid black;
    width: 300px;
}


img {
    width: 100%;
}


.cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
}

.main-text {
    text-align: center;
    background-color: rgba(225, 226, 127, 0.3);
    margin-bottom: 50px;
    font-size: 36px;
}

.main-name {
    font-weight: 900;
    color: brown;
}